<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ValidatedUITextFieldAssessment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42F49D751CE49E3F00FE4EF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F49D891CE49E3F00FE4EF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F49D941CE49E3F00FE4EF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
